In [1]:
from GUI import GUI
from layout.obj.Compo import Compo
import layout.lib.pairing as pairing
import layout.lib.repetition_recognition as rep
import layout.lib.draw as draw
from sklearn.cluster import DBSCAN

import cv2
import pandas as pd
import math
import numpy as np
import os
from os.path import join as pjoin

In [2]:
# gui = GUI(img_file='E:\\Mulong\\Datasets\\gui\\rico\\combined\\all\\10727.jpg', output_dir='E:\\Mulong\\Result\\rico-layout\\result')

In [3]:
gui = GUI(img_file='data/input/2.jpg')

In [4]:
gui.element_detection(img_resize_longest_side=None)
gui.visualize_element_detection(is_resize_showing=False)

In [5]:
gui.layout_recognition()
gui.visualize_layout_recognition(is_resize_showing=False)

[Layout Recognition Completed in 1.164 s] Input: data/input/2.jpg Output: data/output\layout\2.json

In [6]:
gui.visualize_element_detection(is_resize_showing=False)

In [6]:
gui.visualize_layout_recognition(is_resize_showing=False)

In [8]:
df = gui.compos_df.compos_dataframe

In [9]:
df[df['group'] == 't-3']

,id,class,column_min,column_max,row_min,row_max,height,width,area,center,...,center_row,text_content,children,parent,alignment_in_group,gap,group,pair_to,group_pair,list_item
36,36,Text,1000,1034,67,82,15,34,510,"(1017.0, 74.5)",...,74.5,Reset,-1,-1,v,84,t-3,39,1,0
38,38,Text,994,1078,166,205,39,84,3276,"(1036.0, 185.5)",...,185.5,Connect Connect,-1,-1,v,81,t-3,41,1,1
40,40,Text,996,1078,286,330,44,82,3608,"(1037.0, 308.0)",...,308.0,Connect Connect,-1,-1,v,91,t-3,44,1,2
43,43,Text,994,1081,421,474,53,87,4611,"(1037.5, 447.5)",...,447.5,Connect Connect,-1,-1,v,69,t-3,46,1,3
45,45,Text,997,1080,543,590,47,83,3901,"(1038.5, 566.5)",...,566.5,Connect Connect,-1,-1,v,-1,t-3,47,1,4

In [17]:
gui.resize_by_longest_side()

(800, 673, 3)

In [6]:
gui.cvt_compos_json_to_dataframe()

In [7]:
gui.compos_df.repetitive_group_recognition(show=False)

In [7]:
gui.compos_df.pair_groups()

In [10]:
b = gui.visualize_compos_df('group')

In [63]:
gui.compos_df.compos_dataframe = df

In [6]:
df = gui.compos_df.compos_dataframe

In [8]:
pair = df.groupby('group_pair').groups[1]
pair_all_compos = df.loc[pair]

In [9]:
paired_groups = pair_all_compos.groupby('group').groups

In [10]:
paired_groups

{'nt-0': Int64Index([3, 5, 7], dtype='int64'),
 'nt-1': Int64Index([4, 6, 8], dtype='int64'),
 't-0': Int64Index([12, 14, 16], dtype='int64'),
 't-1': Int64Index([13, 17], dtype='int64')}

In [8]:
gui.cvt_compos_json_to_dataframe()
gui.compos_df.repetitive_group_recognition(show=True)

In [7]:
gui.compos_df.calc_gap_in_group()

In [9]:
df = gui.compos_df.compos_dataframe
g_nt1 = df[df['group'] == 'nt-1']
g_t3 = df[df['group'] == 't-3']

In [10]:
pairing.match_two_groups_by_angles_and_y_distance(g_nt1, g_t3)

[-1, -1] Corner Angles: [1, -2] Center Angles: [10, 3]

D:\Anaconda\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
D:\Anaconda\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

True